**/.DS_Store
**/__pycache__
**/.vscode

**/train_result
**/ckpt
**/trocr-*
**/*cache
**/.cache
**/tmp
**/log
**/data

**/logs
**/tmp*
**/data
**/*cache
**/ckpts
**/*.onnx

**/*.bin
**/*.safetensor
**/*.onnx

**/pyrightconfig.json