**/.DS_Store
**/__pycache__
**/.vscode
**/pyrightconfig.json

**/train_result
**/ckpt
**/trocr-*
**/*cache
**/.cache
**/tmp
**/log
**/data

**/logs
**/tmp*
**/data
**/*cache
**/ckpts

**/*.bin
**/*.safetensor
**/*.onnx
