**/.DS_Store
**/__pycache__
**/.vscode
**/pyrightconfig.json

**/train_result
**/ckpt
**/ckpts
**/*.safetensor
**/trocr-*
**/large*.onnx
**/rtdetr_r50vd_6x_coco.onnx

**/*cache
**/.cache

**/tmp
**/tmp*
**/log
**/logs

**/data

**/*.bin