transformers==4.45.2
sentence-transformers==3.1.1
datasets
evaluate
opencv-python
ray[serve]
accelerate
tensorboardX
nltk
python-multipart

augraphy

streamlit==1.30
streamlit-paste-button

shapely
pyclipper
onnxruntime-gpu
